body {
    margin: 0px;
    font-family:  'Space Mono, Arial', monospace;
    font: monospace;
}
::-webkit-scrollbar {

    width: 15px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e8e8e8; 
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ccd6d9;
  }
a {
  color: darkslateblue;
  background: linear-gradient(white 50%, lightgrey 50%);
}
#menu {
    text-align: center;
    font-size: 40px;
    position: sticky;
    top: 0;
    z-index: 3;
    float: left;
    text-decoration: none;
    cursor: zoom-in;
    color: black;
    background-color: lightgrey;
    border-radius: 5px;
    width: 50px;
    height: 55px;
    transition-duration: .2s;
}
#menu:hover {
  transition-duration: .2s;
    background-color: grey;
}
#menu:active {
    background-color: grey;
}
section {
  transition-duration: .5s;
  z-index: 1;
  border-radius: 5px;
  padding: 5px;
  margin: 20px 5px 20px 5px;

}
section:hover {
  transition-duration: .5s;
  box-shadow: 0 0 10px lightgrey;
}
section:active {
  transition-duration: .5s;
  box-shadow: 0 0 10px lightgrey;
}#index {
  float: left;
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #f7f7f7;
  z-index: 2;
  top: 0;
  padding: 20px;
  overflow-y:scroll;
  transition-duration: .2s;
}
#body {
  position: absolute;
  left: 341px;
}
#index:hover {
  box-shadow: 0 0 10px lightgrey;
}
#index > ul > li {
  list-style: none;
  font-size: 20px;
  margin-bottom: 10px;
}
#index > ul > li > a {
  background: linear-gradient(#f7f7f7 50%, lightgrey 50%);
}
#body > section > h1 {
  font-size: 30px
}
@media only screen and (min-width: 680px) {
  #body {
    position: absolute;
    left: 341px;
  }
  #menu {
    visibility: hidden;
  }
}
@media only screen and (max-width: 679px) {
  /*#index {
    display: none;
  }*/
  #body {
    position: absolute;
    left: 0px;
    width: 100%;
  }
  .hmenu {
    display: none
  }
}
